/*footer-css*/
.footer{
	width: 100%;
	height: 300px;
	background: #333333;
	background-size: 100% 100%;
	position: relative;
}
.footer .section{
	width: 100%;
	height: 150px;
	border-bottom: 1px dashed white;
	
}
.footer .music{
	position: absolute;
	top:30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.footer .music>li{
	width: 57px;
	height: 57px;
	float: left;
	margin:  0 10px;
	background: url(../images/yinyue_0.png) no-repeat 0 0;
	cursor: pointer;
}
.footer .music>li:hover{
	background-position:0 -57px;
	animation: su-pudding 1s linear;
}
.footer>.container>ul{
	color: white;
	text-align: center;
	line-height: 30px;
	margin-top: 30px;
}
.footer>.container>ul>li>a{
	color: #62A8CC;
}

