
.fixed{
	width:50px;
	height: 50px;
	font-size: 15px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: #0C8CCC;
	position: fixed;
	bottom: 50px;
	right: 5px;
	z-index: 10;
	color: white;
	cursor: pointer;
	display: none;
}

.fixed>.fixed-one{
	width:150px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	background: #0C8CCC;
	position: fixed;
	bottom: 60px;
	right: -150px;
	z-index: 9;
	color: white;
	transition: all 1s ease;

}
.fixed:hover .fixed-one{
	transform: translateX(-200px);
}
.main{
	width: 100%;
}
.banner{
	width: 100%;
	height: 500px;
	position: relative;
	margin-top: 80px;
}
/*.banner>ul{
	
}*/
.banner>ul>li{
	width: 100%;
	height: 100%;
	background: url(../img/shouye/01.big.jpg) no-repeat 0 0;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.banner .banner-two{
	background-image: url(../img/shouye/02.big.jpg);
}
.banner .banner-three{
	background-image: url(../img/shouye/4bb76e240b12ddd9.jpg);
}
.banner-one .img1,.banner-one .img2,.banner-one .img3,
.banner-two .img1,.banner-two .img2,.banner-two .img3,
.banner-three .img1,.banner-three .img2,.banner-three .img3{
	position: absolute;
	left: 543px;
	top: 200px;
}

.banner-one .img2{
	left: 30%;
	top:3%;
}
.banner-one .img3{
	left: 35%;
	top:60%;
}

.banner-two .img2{
	left:10%;
	top: 80%;
}

.banner-three .img2{
	left: 2%;
	top: 15%;
}


.banner-change{
	position: absolute;
	width: 200px;
	height: 29px;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
	background: url(../images/next&prev_line.png) no-repeat center;
}
.banner-change .prev , .banner-change .next{
	width: 29px;
	height: 29px;
	background: url(../images/prev_jiantou.png) no-repeat 0 0;
	cursor: pointer;
}
.banner-change .next{
	background-image: url(../images/next_jiantou.png);
}
.banner-change .prev:hover{
	animation: su-pudding 1s linear;
	background-image: url(../images/prev_jiantou_hover.png);
}
.banner-change .next:hover{
	animation: su-pudding 1s linear;
	background-image: url(../images/next_jiantou_hover.png);
}

.banner-change .points{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 8px;
}
.banner-change .points span{
	width: 6px;
	height: 14px;
	background: url(../images/next&prev_mbg01.png) no-repeat 0 0;
}
.banner-change .middle{
	height: 20px;
	background: url(../images/next&prev_mbg02.png) repeat-x;
}
.banner-change .middle>li{
	float: left;
	width: 5.5px;
	height: 5.5px;
	background: url(../images/next&prev_others.png);
	margin-top: 4px;
	cursor: pointer;
}
.banner-change .middle>li:nth-child(2){
	margin: 4px 4px;
}
.banner-change .middle>.now{
	background-image: url(../images/next&prev_now.png);
}
.banner-change .points .right{
	background: url(../images/next&prev_mbg03.png) no-repeat 0 0;
}

/*了解未来*/
.main-one{
	width: 100%;
	height: 1000px;
	background: url(../img/beijing/1532332523.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.main-one>.container>.aaa{
	width: 75%;
	height: 800px;
	border: 10px solid deepskyblue;
	position: absolute;
	top: 100px;
	margin-left: 50px;
}
.main-one>.container>.aaa>img{
	position: absolute;
	top: 200px;
	right: -200px;
	transition: all 1s ease;
}
.main-one>.container>.aaa>img:hover{
	box-shadow: 0px 0px 10px 2px #C8EBFA;
	transform: translate(-5px,-10px);
}
.main-one>.container>.aaa>.aaa-one{
	width: 520px;
	height: 350px;
	margin: 50px 0  0 50px;
}
.main-one>.container>.aaa li{
	font: 20px "楷体";
	margin-bottom: 30px;
	color: #717171;
}
.main-one>.container>.aaa-aa{
	width: 40px;
	height: 100px;
	font:40px "黑体";
	color:deepskyblue;
	position: absolute;
	top: 35%;
	left: 10px;
	z-index: 5;
}
.main-one>.container>.aaa-aa>i{
	color:black;
}
.main-one>.container>.aaa li>a{
	font: 30px "黑体";
	color: #1690CD;
}
.main-one>.container>.aaa>.aaa-one:hover .aaa-one-a{
	width: 200px;
}

.main-one>.container>.aaa .aaa-one-a{
	width: 30px;
	border: 1px solid deepskyblue;
	transition: all 1s ease;

}
.main-one>.container>.aaa>.aaa-two:hover .aaa-one-a{
	width: 200px;
}

.main-one>.container>.aaa .aaa-one-b{
	cursor: pointer;
	float: right;
	text-align: center;
	line-height: 30px;
	color: black;
	width: 80px;
	height: 30px;
	box-shadow: 0px 0px 5px 1px #ccc;
	position: relative;
	left: -50px;
 overflow: hidden;
}
.main-one>.container>.aaa .aaa-one-bbb{
	cursor: pointer;
	float: right;
	text-align: center;
	line-height: 30px;
	color: black;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	left: -80px;
	background: #0C8CCC;
	transition: all 1s ease;
}
.main-one>.container>.aaa .close{
	width: 30px;
	height: 30px;
	position: relative;
	top: 0px;
	left: 472px;
	transition: all 1s ease;
	box-shadow: 0px 0px 5px 1px #ccc;
	overflow: hidden;
}
.main-one>.container>.aaa .close>.close-one{
	width: 30px;
	height: 30px;
	position: relative;
	top: -29px;
	left: -32px;
	background: #0C8CCC;
	transition: all 1s ease;	
	
}
.main-one>.container>.aaa .aaa-one-b:hover .aaa-one-bbb{
	transform: tran
	slateX(80px);
}
.main-one>.container>.aaa .close:hover .close-one{
    transform: translateX(62px);
}
.main-one>.container>.aaa>.aaa-two{
	width: 520px;
	height: 350px;
	margin: 30px 0  0 50px;
}
/*接触未来*/
.main>.main-two{
	width: 100%;
	height: 1000px;
	background: url(../img/beijing/1531982507.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.main-two>.container>.section {
	margin-top: 50px;
	width: 100%;
	height: 1000px;
}
.main-two>.aaa-aa{
	width: 200px;
	height: 40px;
	font:40px "黑体";
	color:darkblue;
	position: relative;
	top: 0;
	left: 40%;
}
.main-two>.aaa-aa>i{
	color: black;
}
.main-two>.container>.section>li:hover{
	background: white;
	box-shadow: 0px 0px 5px 1px skyblue;
}
.main-two>.container>.section>li {
   overflow: hidden;
	width: 100%;
	height: 200px;
	transition: all 1s ease; 
}

.main-two>.container>.section>li>div{
	height: 500px;
	width: 100%;
}
.main-two>.container>.section .sec-one>ol{
	float: left;
	margin-right:20px;
}
.main-two>.container>.section .sec-one>ol>img{
	width: 450px;
	transition: all 1s ease; 
}
.main-two>.container>.section>li:hover  .sec-one>ol>img{
	box-shadow: 0px 0px 5px 2px #ccc;
	transform: translate(10px,50px) scale(1.2);
}
.main-two>.container>.section .sec-one>ol>div{
	width: 100px;
	border-bottom: 4px solid deepskyblue;
	margin-top: 50px;
}
.main-two>.container>.section .sec-one>.aaa{
	font-size: 80px;
	color: #ccc;
    margin:0 100px 0 20px;
}
.main-two>.container>.section>li:hover  .sec-one>.aaa{
	text-shadow: 0px 0px 10px 10px #BFBFBF;
}
.main-two>.container>.section>li:hover  .sec-one>.bbb{
	text-shadow: 0px 0px 10px 10px skyblue;
}
/*.main-two>.container>.section>li:hover  .sec-one>.ccc{
	color: skyblue;
}*/
.main-two>.container>.section .sec-one>.bbb{
    font: 40px "楷体";
	margin:30px  100px 0 0;
	color: deepskyblue;
}
.main-two>.container>.section .sec-one>.ccc{
	margin-left: 30px;
	width: 35%;
	text-indent: 2em;
	color: #707070;
    font: 25px "楷体";
	position: relative;
	top: -150px;
}

/*了解未来*/
.main-three{
	width: 100%;
	height: 575px;
	background: url(../img/beijing/1531983123.jpg) no-repeat;
	background-size: 100% 100%; 
}
.main-three>.container>li{
	width: 238px;
	height: 575px;
	float: left;
	background: white;
	transition:  all 2s ease;
	overflow: hidden;
	position: relative;
	top: -200px;
	transition: all 2s ease;
}
.main-three>.container>li>.abc{
	width:238px;
	height: 100px;
	background: white;
}
.main-three>.container>li>.abc>img{
	width:150px;
	height: 80px;
	margin: 10px 44px 0 44px;
}
.main-three>.container>li>#abc>img{
	margin: 0px 44px 0 44px;
}
.main-three>.container>li>.aaa{
	text-align: center;
	margin: 30px 0;
	color: #4A4A4B;
	font-size: 28px;
	text-shadow: 0px 0px 10px 5px black;
	transition: all 1s ease; 
}
.main-three>.container>li>.bbb{
	margin: 0 20px;
	color: #707070;
	font: 20px "楷体";
	margin-top: 20px;
	text-indent: 1em;
	transition: all 1s ease; 
}
.main-three>.container>li>.open{
	width: 235px;
	height: 575px;
	transition:  all 1s ease;
	/*overflow: hidden;*/
	position: absolute;	
	top: 0px;
	opacity: 0.4;
	background: #D3D4D8;
}
.main-three>.container>li>.ddd>img{
	width: 219px;
	margin: 0 8px;
	height: 150px;
	position: absolute;
	left: -235px;
	top: 100px	;
	transition: all 2s ease; 
}
.main-three>.container>li:hover {
	box-shadow: 0px 0px 10px 5px #ccc;
}
.main-three>.container>li:hover .open{
	transform: translateY(575px);
    opacity: 0.1;
}
.main-three>.container>li:hover .ddd>img{
	transform: translateX(236px);
}

.main-three>.container>li:hover .aaa{
	transform: translateY(140px );
	color: black;
}
.main-three>.container>li:hover .bbb{
	transform: translateY(120px );
	color: deepskyblue;
}
.main-three>.container>li:hover ol>div{
	display: none;
}
.main-three>.container>li>ol>div{
	width: 40px;
	border-bottom: 1px solid;
	margin: 0 auto;
}
.main-three>.container>li>ol>img{
	width: 240px;
	height: 120px;
	vertical-align: center;
}
.main-three>.aaa-aa{
	width: 40px;
	height: 200px;
	font:40px "黑体";
	color:deepskyblue;
	position: relative;
	top: 150px;
	left: 10px;
	z-index: 5;
}
.main-three>.aaa-aa>i{
	color: black;
}

/*熟悉未来*/
.main-four{
    width: 100%;
	height: 900px;
	position: relative;
	top: 0;
}
.main-four>.aaa-aa{
	width: 200px;
	height: 40px;
	font:40px "黑体";
	color:deepskyblue;
	position: relative;
	top: -180px;
	left: 40%;
}
.main-four>.aaa-aa>i{
	color: black;
}
.main-four>.container>.monday{
	width: 100%;
	height: 500px;
}
.main-four>.container>.monday>img{
	position: absolute;
	top: 80px;
	left:100px;
	transition: all 1s ease;
}
.main-four>.container>.monday>img:hover{
	box-shadow: 0px 0px 10px 2px #C8EBFA;
	transform: translate(4px,10px);
}
.main-four>.container>.monday>.monday-one{
	width: 47%;
	height: 420px;
	position: absolute;
	top: 80px;
	right:60px;
}
.main-four>.container>.monday>.monday-one>.aaa{
	font-size: 12px;
	color: #919191;
	margin: 22px 0;
}
.main-four>.container>.monday>.monday-one>li>div{
	width: 20px;
	border: 1px solid skyblue;
	margin-bottom: 33px;
	transition: all 1s ease;
}
.main-four>.container>.monday>.monday-one:hover div{
	width: 550px;
	
}
.main-four>.container>.monday>.monday-one>.bbb{
	font-size: 25px;
	color: #2C2C2C;
	margin-bottom: 60px;
}
.main-four>.container>.monday>.monday-one>.ccc{
	font: 15px "楷体";
	color: #919191;
	margin-bottom: 25px;
}
.main-four>.container>.monday>.monday-one .ddd{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font: 22px "楷体";
	color: black;
	box-shadow: 0px 0px 5px 1px #ccc;
	transition: all 1s ease;
	position: relative;
	overflow: hidden;
}
.main-four>.container>.monday>.monday-one .ddd>.dddd{
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: -82px;
	background: #0C8CCC;
	transition: all 1s ease;
}
.main-four>.container>.monday>.monday-one .ddd:hover .dddd{
	transform: translateX(82px);
}
.main-four>.container>.monday>.monday-one>.close{
	width: 30px;
	height: 30px;
	position: relative;
	top: -30px;
	left: 81px;
	transition: all 1s ease;
	box-shadow: 0px 0px 5px 1px #ccc;
	overflow: hidden;
}
.main-four>.container>.monday>.monday-one>.close>.close-one{
	width: 30px;
	height: 30px;
	position: relative;
	top: -29px;
	left: -32px;
	background:#0C8CCC;
	transition: all 1s ease;	
}
.main-four>.container>.monday>.monday-one>.close:hover .close-one{
    transform: translateX(62px);
}
.main-four>.container>.therday{
	width: 100%;
	height: 400px;
}
.main-four>.container>.therday>li>img{
	width: 350px;
	height: 300px;
}
.main-four>.container>.therday>li{
	width: 350px;
	height: 300px;
	float: left;
	margin: 0 25px;
	position: relative;
}
.main-four>.container>.therday>li>ul{
	width: 350px;
	height: 300px;
	background: #F0F1F2;
	position: absolute;
	top: 0;
	transition: all 1s ease;
}
.main-four>.container>.therday>li>ul:hover{
	transform: translate(10px,10px );
	background: deepskyblue;
	opacity: 0.8;
}
.main-four>.container>.therday>li>ul:hover .aaa{
	color: white;
}
.main-four>.container>.therday>li>ul:hover div{
	border: 1px solid white;
}
.main-four>.container>.therday>li>ul:hover .bbb{
	color: white;
}
.main-four>.container>.therday>li>ul:hover .ccc{
	color: white;
}
.main-four>.container>.therday>li .aaa{
	margin-top: 28px;
   margin-left: 35px;
   font-size: 12px;
   color: #868686;
}
.main-four>.container>.therday>li>ul:hover div{
	 width:280px;
}
.main-four>.container>.therday>li div{
  width: 15px;
  border: 1px solid deepskyblue;
  margin: 0  0  25px 35px;
  transition: all 1s ease;
}
.main-four>.container>.therday>li .bbb{
	font-size: 20px;
	color: #414141;
	font-style: initial;
    margin: 0  0  13px 35px;
}

.main-four  .ccc{
	font-size: 13px;
	font-weight: 100;
	margin:  0  15px;
}
/*合作伙伴*/
.main-five{
	width: 100%;
	height: 450px;
}
.main-five>.container>.five-one{
	width: 200px;
	height: 40px;
	font:40px "黑体";
	color:deepskyblue;
	position: relative;
	top: 0px;
	left: 43%;
}
.main-five>.container>.five-one>i{
	color: black;
}
.main-five>.container>.five-one p{
	width: 150px;
	border: 1px solid deepskyblue;
}
.main-five>.container>.five-two{
	width: 100%;
	height: 320px;
	position: relative;
	top: 50px;
	text-align: center;
}
.main-five>.container>.five-two li{
	width: 180px;
	height: 55px;
	border: 1px dashed #ccc;
	margin: 30px 30px;
	display: inline-block;
	transition: all 1s ease;
}

.main-five>.container>.five-two li:hover{
	box-shadow: 0px -2px 10px 1px #ccc;
	transform: translateY(-2px);
}
.main-five>.container>.five-two li>img{
	width: 170px;
	height: 45px;
	margin:5px ;

}